In [6]:
import pandas as pd
import numpy as np

### Note TV: Files are read, columns are renamed, additional column with source name is added (for all 16 files)

In [7]:
data1_bbc = pd.read_csv('bbchealth.txt', delimiter='|', header=None)
data1_bbc.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data1_bbc['source'] = pd.Series(["bbchealth" for x in range(len(data1_bbc.index))])
data1_bbc.head(5)

FileNotFoundError: [Errno 2] No such file or directory: 'bbchealth.txt'

In [12]:
data2_cbc = pd.read_csv('cbchealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data2_cbc.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data2_cbc['source'] = pd.Series(["cbchealth" for x in range(len(data2_cbc.index))])
data2_cbc.head(5)

,Number,Date_Time,info,source
0,586266687948881921,Thu Apr 09 20:37:25 +0000 2015,Drugs need careful monitoring for expiry dates...,cbchealth
1,586266687017771008,Thu Apr 09 20:37:25 +0000 2015,Sabra hummus recalled in U.S. http://www.cbc.c...,cbchealth
2,586266685495214080,Thu Apr 09 20:37:24 +0000 2015,U.S. sperm bank sued by Canadian couple didn't...,cbchealth
3,586226316820623360,Thu Apr 09 17:57:00 +0000 2015,Manitoba pharmacists want clampdown on Tylenol...,cbchealth
4,586164344452354048,Thu Apr 09 13:50:44 +0000 2015,Mom of 7 'spooked' by vaccinations reverses st...,cbchealth

In [13]:
data3_cnn = pd.read_csv('cnnhealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data3_cnn.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data3_cnn['source'] = pd.Series(["cnnhealth" for x in range(len(data3_cnn.index))])
data3_cnn.head(5)

,Number,Date_Time,info,source
0,576880531301801984,Sat Mar 14 23:00:11 +0000 2015,An abundance of online info can turn us into e...,cnnhealth
1,576820122666471424,Sat Mar 14 19:00:08 +0000 2015,A plant-based diet that incorporates fish may ...,cnnhealth
2,576744652717461504,Sat Mar 14 14:00:15 +0000 2015,It doesn't take much to damage your hearing at...,cnnhealth
3,576736754436304896,Sat Mar 14 13:28:52 +0000 2015,RT @CNN: Forever young? Discover this island’s...,cnnhealth
4,576736614766010368,Sat Mar 14 13:28:18 +0000 2015,RT @CNN: Is post-traumatic stress disorder in ...,cnnhealth

In [14]:
data4_everyday = pd.read_csv('everydayhealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data4_everyday.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data4_everyday['source'] = pd.Series(["everydayhealth" for x in range(len(data4_everyday.index))])
data4_everyday.head(5)

,Number,Date_Time,info,source
0,304596701757464576,Thu Feb 21 14:21:27 +0000 2013,#FastFood Makes Up 11 Percent of #Calories in ...,everydayhealth
1,304595191329853441,Thu Feb 21 14:15:27 +0000 2013,"10 snacks to help you lose weight, burn fat, a...",everydayhealth
2,304587659018371072,Thu Feb 21 13:45:31 +0000 2013,10 foods that boost your skin AND slim your wa...,everydayhealth
3,304580073380524032,Thu Feb 21 13:15:22 +0000 2013,What a heart attack feels like in women (it's ...,everydayhealth
4,304572560270573569,Thu Feb 21 12:45:31 +0000 2013,#McDonalds oatmeal has almost 7 teaspoons of s...,everydayhealth

In [15]:
data5_foxnews = pd.read_csv('foxnewshealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data5_foxnews.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data5_foxnews['source'] = pd.Series(["foxnewshealth" for x in range(len(data5_foxnews.index))])
data5_foxnews.head(5)

,Number,Date_Time,info,source
0,585942799561928704,Wed Apr 08 23:10:24 +0000 2015,Injury prevention programs unpopular with high...,foxnewshealth
1,585934004089683969,Wed Apr 08 22:35:27 +0000 2015,6 dietary changes to make midlife http://ow.ly...,foxnewshealth
2,585926494054195201,Wed Apr 08 22:05:36 +0000 2015,Massachusetts governor gets head shaved to sup...,foxnewshealth
3,585921515922788354,Wed Apr 08 21:45:49 +0000 2015,Dad wins 3 marathons in 8 days; winnings to he...,foxnewshealth
4,585915150449934338,Wed Apr 08 21:20:32 +0000 2015,Possible cure for melanoma? http://ow.ly/LlLg8,foxnewshealth

In [17]:
data6_gdnhealthcare = pd.read_csv('gdnhealthcare.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data6_gdnhealthcare.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data6_gdnhealthcare['source'] = pd.Series(["gdnhealthcare" for x in range(len(data6_gdnhealthcare.index))])
data6_gdnhealthcare.head(5)

,Number,Date_Time,info,source
0,585891883953496066,Wed Apr 08 19:48:05 +0000 2015,Are you a member of the network? Sign up here ...,gdnhealthcare
1,585876545266286592,Wed Apr 08 18:47:08 +0000 2015,What is palliative care like in India? One GP ...,gdnhealthcare
2,585861945535791106,Wed Apr 08 17:49:07 +0000 2015,Most viewed this week: I loved being a midwife...,gdnhealthcare
3,585859917350731777,Wed Apr 08 17:41:03 +0000 2015,How can technology improve mental health waiti...,gdnhealthcare
4,585844465199407104,Wed Apr 08 16:39:39 +0000 2015,In case you missed it: Why the #NHS shouldn’t ...,gdnhealthcare

In [18]:
data7_goodhealth = pd.read_csv('goodhealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data7_goodhealth.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data7_goodhealth['source'] = pd.Series(["goodhealth" for x in range(len(data7_goodhealth.index))])
data7_goodhealth.head(5)

,Number,Date_Time,info,source
0,577117109701967872,Sun Mar 15 14:40:15 +0000 2015,It’s not hard to get a little cardio in at hom...,goodhealth
1,577083140977651712,Sun Mar 15 12:25:17 +0000 2015,Beauty really does come from within. Discover ...,goodhealth
2,577040308669669376,Sun Mar 15 09:35:05 +0000 2015,Busted! 15 myths and facts you really need to ...,goodhealth
3,577011455389757440,Sun Mar 15 07:40:25 +0000 2015,Get rid of a puffy tummy! See the 13 best (and...,goodhealth
4,576979914592804864,Sun Mar 15 05:35:06 +0000 2015,Pillow talk: Find the perfect pillow for your ...,goodhealth

In [19]:
data8_KaiserHealthNews = pd.read_csv('KaiserHealthNews.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data8_KaiserHealthNews.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data8_KaiserHealthNews['source'] = pd.Series(["KaiserHealthNews" for x in range(len(data8_KaiserHealthNews.index))])
data8_KaiserHealthNews.head(5)

,Number,Date_Time,info,source
0,586266658731388929,Thu Apr 09 20:37:18 +0000 2015,Tougher Vaccine Law In Calif. Clears First Hur...,KaiserHealthNews
1,586260160462589954,Thu Apr 09 20:11:29 +0000 2015,A new sort of extracurricular activity: seeing...,KaiserHealthNews
2,586238751334125569,Thu Apr 09 18:46:24 +0000 2015,Houston firefighters have another tool at thei...,KaiserHealthNews
3,586181878635298817,Thu Apr 09 15:00:25 +0000 2015,Will #Montana expand its #Medicaid program? So...,KaiserHealthNews
4,586159308745920512,Thu Apr 09 13:30:44 +0000 2015,Rand Paul's campaign first day: abortion and t...,KaiserHealthNews

In [20]:
data9_latimeshealth = pd.read_csv('latimeshealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data9_latimeshealth.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data9_latimeshealth['source'] = pd.Series(["latimeshealth" for x in range(len(data9_latimeshealth.index))])
data9_latimeshealth.head(5)

,Number,Date_Time,info,source
0,576760256031682561,Sat Mar 14 15:02:15 +0000 2015,Five new running shoes that aim to go the extr...,latimeshealth
1,576715414811471872,Sat Mar 14 12:04:04 +0000 2015,Gym Rat: Disq class at Crunch is intense worko...,latimeshealth
2,576438353555365888,Fri Mar 13 17:43:07 +0000 2015,Noshing through thousands of ideas at Natural ...,latimeshealth
3,576438347003908096,Fri Mar 13 17:43:06 +0000 2015,"Natural Products Expo also explores beauty, su...",latimeshealth
4,576413058177712128,Fri Mar 13 16:02:36 +0000 2015,Free Fitness Weekends in South Bay beach citie...,latimeshealth

In [21]:
data10_msnhealthnews = pd.read_csv('msnhealthnews.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data10_msnhealthnews.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data10_msnhealthnews['source'] = pd.Series(["msnhealthnews" for x in range(len(data10_msnhealthnews.index))])
data10_msnhealthnews.head(5)

,Number,Date_Time,info,source
0,220146274970763264,Tue Jul 03 13:25:36 +0000 2012,Heavy Coffee Intake May Affect Fertility Treat...,msnhealthnews
1,220146274236760065,Tue Jul 03 13:25:36 +0000 2012,"Summer Is Peak Time for Teens to Try Drugs, Al...",msnhealthnews
2,220146273444040704,Tue Jul 03 13:25:36 +0000 2012,Some Crash-Avoidance Systems May Work Better T...,msnhealthnews
3,220146272638734336,Tue Jul 03 13:25:36 +0000 2012,More Genes Linked to Osteoarthritis Identified...,msnhealthnews
4,219891972108845056,Mon Jul 02 20:35:06 +0000 2012,No Health Risk When Jehovah's Witnesses Refuse...,msnhealthnews

In [22]:
data11_NBChealth = pd.read_csv('NBChealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data11_NBChealth.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data11_NBChealth['source'] = pd.Series(["NBChealth" for x in range(len(data11_NBChealth.index))])
data11_NBChealth.head(5)

,Number,Date_Time,info,source
0,548617649010532353,Fri Dec 26 23:13:35 +0000 2014,Ebola Exposure?: CDC Worker 'Remains Well' htt...,NBChealth
1,548569476795731968,Fri Dec 26 20:02:09 +0000 2014,Pregnant Woman Taken Off Life Support in Irela...,NBChealth
2,548533428023738368,Fri Dec 26 17:38:55 +0000 2014,Money from #IceBucketChallenge still flowing t...,NBChealth
3,548531135442337793,Fri Dec 26 17:29:48 +0000 2014,Caramel Apples Recalled After Listeria Deaths ...,NBChealth
4,548194819907284992,Thu Dec 25 19:13:24 +0000 2014,Ice Bucket Challenge Still Rains Bucks on ALS ...,NBChealth

In [23]:
data12_nprhealth = pd.read_csv('nprhealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data12_nprhealth.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data12_nprhealth['source'] = pd.Series(["nprhealth" for x in range(len(data12_nprhealth.index))])
data12_nprhealth.head(5)

,Number,Date_Time,info,source
0,547824165185536000,Wed Dec 24 18:40:33 +0000 2014,Would You Like Health Insurance With Those Sto...,nprhealth
1,547763897638199296,Wed Dec 24 14:41:04 +0000 2014,New Blood Donation Rules Would Still Exclude M...,nprhealth
2,547671560471859200,Wed Dec 24 08:34:09 +0000 2014,Obama Administration Downplays Court Challenge...,nprhealth
3,547671553609981952,Wed Dec 24 08:34:08 +0000 2014,"Christmas In Liberia: Ebola Fears, No Snow, Ho...",nprhealth
4,547671544680312834,Wed Dec 24 08:34:06 +0000 2014,Costly Hepatitis C Drugs Threaten To Bust Pris...,nprhealth

In [24]:
data13_nytimeshealth = pd.read_csv('nytimeshealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data13_nytimeshealth.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data13_nytimeshealth['source'] = pd.Series(["nytimeshealth" for x in range(len(data13_nytimeshealth.index))])
data13_nytimeshealth.head(5)

,Number,Date_Time,info,source
0,548662191340421120,Sat Dec 27 02:10:34 +0000 2014,Risks in Using Social Media to Spot Signs of M...,nytimeshealth
1,548579831169163265,Fri Dec 26 20:43:18 +0000 2014,RT @paula_span: The most effective nationwide ...,nytimeshealth
2,548579045269852161,Fri Dec 26 20:40:11 +0000 2014,The New Old Age Blog: Diabetes Prevention That...,nytimeshealth
3,548444679529041920,Fri Dec 26 11:46:15 +0000 2014,Well: Comfort Casseroles for Winter Dinners ht...,nytimeshealth
4,548311901227474944,Fri Dec 26 02:58:39 +0000 2014,High-Level Knowledge Before Veterans Affairs S...,nytimeshealth

In [25]:
data14_reuters_health = pd.read_csv('reuters_health.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data14_reuters_health.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data14_reuters_health['source'] = pd.Series(["reuters_health" for x in range(len(data14_reuters_health.index))])
data14_reuters_health.head(5)

,Number,Date_Time,info,source
0,586282503981375488,Thu Apr 09 21:40:16 +0000 2015,Los Angeles closes 500 medical marijuana shops...,reuters_health
1,586278524748750848,Thu Apr 09 21:24:27 +0000 2015,U.S. cuts poultry export forecast as deadly bi...,reuters_health
2,586273441801699328,Thu Apr 09 21:04:15 +0000 2015,Fears over Roundup herbicide residues prompt p...,reuters_health
3,586254712523096068,Thu Apr 09 19:49:50 +0000 2015,Liberia watchdog says some Ebola funds unaccou...,reuters_health
4,586243976333787137,Thu Apr 09 19:07:10 +0000 2015,Diabetes devices may interfere with avalanche ...,reuters_health

In [26]:
data15_usnewshealth = pd.read_csv('usnewshealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data15_usnewshealth.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data15_usnewshealth['source'] = pd.Series(["usnewshealth" for x in range(len(data15_usnewshealth.index))])
data15_usnewshealth.head(5)

,Number,Date_Time,info,source
0,586278450392133633,Thu Apr 09 21:24:09 +0000 2015,Planning to hire a personal trainer? Read thes...,usnewshealth
1,586260156155043843,Thu Apr 09 20:11:28 +0000 2015,RT @AnnaMedaris: Any dads out their who strugg...,usnewshealth
2,586248551811932160,Thu Apr 09 19:25:21 +0000 2015,America's problem with diabetes in one map: ht...,usnewshealth
3,586229697165586432,Thu Apr 09 18:10:26 +0000 2015,Think water &amp; fiber will cure your constip...,usnewshealth
4,586215972731822080,Thu Apr 09 17:15:53 +0000 2015,"About to lose it? Here, try one of these offic...",usnewshealth

In [27]:
data16_wsjhealth = pd.read_csv('wsjhealth.txt', delimiter='|', error_bad_lines=False, warn_bad_lines=False, header=None)
data16_wsjhealth.rename(columns = {0:'Number', 1:'Date_Time',2:'info'}, inplace = True)
data16_wsjhealth['source'] = pd.Series(["wsjhealth" for x in range(len(data16_wsjhealth.index))])
data16_wsjhealth.head(5)

,Number,Date_Time,info,source
0,548663411437875200,Sat Dec 27 02:15:25 +0000 2014,Parents Start Companies to Cure Children http:...,wsjhealth
1,548544344777834496,Fri Dec 26 18:22:17 +0000 2014,"RT @lizrhoffman: J&amp;J, Gilead among healthc...",wsjhealth
2,548532620817358848,Fri Dec 26 17:35:42 +0000 2014,RT @stefaniei: How has the health law's first ...,wsjhealth
3,548525790644953088,Fri Dec 26 17:08:34 +0000 2014,"RT @lizrhoffman: Allergan dodges a bullet, Apo...",wsjhealth
4,548525551896776704,Fri Dec 26 17:07:37 +0000 2014,RT @Loftus: Faces of the Health Law: Read more...,wsjhealth

### Note TV: Merging files

In [28]:
twitter_health = pd.concat([data1_bbc, data2_cbc, data3_cnn, data4_everyday, data5_foxnews, data6_gdnhealthcare, data7_goodhealth, data8_KaiserHealthNews, data9_latimeshealth, data10_msnhealthnews, data11_NBChealth, data12_nprhealth, data13_nytimeshealth, data14_reuters_health, data15_usnewshealth, data16_wsjhealth ], axis=0)

In [34]:
twitter_health

,Number,Date_Time,info,source
0,585978391360221184,Thu Apr 09 01:31:50 +0000 2015,Breast cancer risk test devised http://bbc.in/...,bbchealth
1,585947808772960257,Wed Apr 08 23:30:18 +0000 2015,GP workload harming care - BMA poll http://bbc...,bbchealth
2,585947807816650752,Wed Apr 08 23:30:18 +0000 2015,Short people's 'heart risk greater' http://bbc...,bbchealth
3,585866060991078401,Wed Apr 08 18:05:28 +0000 2015,New approach against HIV 'promising' http://bb...,bbchealth
4,585794106170839041,Wed Apr 08 13:19:33 +0000 2015,Coalition 'undermined NHS' - doctors http://bb...,bbchealth
...,...,...,...,...
3195,415494259022655489,Tue Dec 24 14:48:45 +0000 2013,RT @stefaniei: Addiction and the brain: scient...,wsjhealth
3196,415493351396233216,Tue Dec 24 14:45:09 +0000 2013,RT @timothywmartin: Ho-ho-hold up! A surprise ...,wsjhealth
3197,415493203983204352,Tue Dec 24 14:44:33 +0000 2013,RT @stefaniei: Health-Insurance Deadline Exten...,wsjhealth
3198,415386956420231169,Tue Dec 24 07:42:22 +0000 2013,Boston Scientific Eyes China Expansion http://...,wsjhealth
3199,415361763362603008,Tue Dec 24 06:02:16 +0000 2013,"For Desperate Family in India, a Ray of Hope F...",wsjhealth

In [35]:
twitter_health['source'].value_counts()

goodhealth          7708
nytimeshealth       5947
nprhealth           4837
reuters_health      4719
NBChealth           4215
latimeshealth       4171
cnnhealth           4045
bbchealth           3929
cbchealth           3728
KaiserHealthNews    3508
everydayhealth      3239
wsjhealth           3200
msnhealthnews       3199
gdnhealthcare       2977
foxnewshealth       2000
usnewshealth        1395
Name: source, dtype: int64

In [39]:
file_list = [data1_bbc, data2_cbc, data3_cnn, data4_everyday, data5_foxnews, data6_gdnhealthcare, data7_goodhealth, data8_KaiserHealthNews, data9_latimeshealth, data10_msnhealthnews, data11_NBChealth, data12_nprhealth, data13_nytimeshealth, data14_reuters_health, data15_usnewshealth, data16_wsjhealth]
for file in file_list:
    print('File name:', file['source'].unique(), len(file))

File name: ['bbchealth'] 3929
File name: ['cbchealth'] 3728
File name: ['cnnhealth'] 4045
File name: ['everydayhealth'] 3239
File name: ['foxnewshealth'] 2000
File name: ['gdnhealthcare'] 2977
File name: ['goodhealth'] 7708
File name: ['KaiserHealthNews'] 3508
File name: ['latimeshealth'] 4171
File name: ['msnhealthnews'] 3199
File name: ['NBChealth'] 4215
File name: ['nprhealth'] 4837
File name: ['nytimeshealth'] 5947
File name: ['reuters_health'] 4719
File name: ['usnewshealth'] 1395
File name: ['wsjhealth'] 3200